.cat_sidebar{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    @media @xs{
        margin-top: 30px;
    }
    .title{
        border-bottom: 1px solid #e6e6e6;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 500;
        color: #444;
        .btn-group{
            .btn.dropdown-toggle{
                background: transparent;
                text-align: left;
                padding: 10px 15px;
                font-size: 14px;
                font-weight: 500;
                position: relative;
                transition: .3s all ease;
                span.caret{
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    border-top: 6px solid;
                    border-right: 6px solid transparent;
                    border-left: 6px solid transparent;
                    margin: -3px 0 0;
                }
                &:hover{
                    box-shadow: none;
                    color: @red;
                    span.caret{
                        color: @red;
                    }
                }
            }
            .dropdown-menu{
                .dd-menu;
                margin-top: 0;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                min-width: 100%;
            }
            &.open{
                .btn.dropdown-toggle{
                    box-shadow: none;
                    background: @green;
                    color: #fff;
                    border-radius: 0;
                    span.caret{
                        color: #fff;
                    }
                }
            }
        }
    }
    .list-group{
        margin: 10px 0;
        .list-group-item{
            border: 0;
            border-radius: 0;
            padding: 7px 15px;
            font-weight: 400;
            font-size: 14px;
            color: #444;
            line-height: 125%;
            &.active{
                color: @red;
                background: #fff;
            }
            &:hover{
                cursor: pointer;
                color: @red;
                background: transparent;
            }
        }
    }
}

.filter{
    margin-top: 20px;
    .ui-slider{
        margin: 15px 0;
    }
    .ui-widget-header{
        background: @blue;
    }
    &__title{
        border-bottom: 1px solid #e6e6e6;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 500;
        background: @blue;
        color: @color-bg-gray;
    }
    &__enable{
        display: none;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
}

.filter-box{
    border-bottom: 1px solid #e6e6e6;
    padding: 5px 15px;
    &__title{
        font-size: 16px;
        position: relative;
        transition: all 0.2s ease-in-out;
        &:hover{
            color: @blue;
            cursor: pointer;
        }
        &.closed{
            .fa{
                transform: rotate(180deg);
            }
        }
        .fa{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 10px;
            transition: all 0.2s ease-in-out;
        }
    }
    .filter_body {
        padding: 5px 0;
    }
    .label-group{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 400;
        input{
            margin: 0 10px 0 0;
        }
    }
    .filter-box__closed-options{
        display: none;
    }
    .filter-box__show-all{
        text-align: center;
        color: @blue;
        padding: 10px 0;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }


}
.prices_value{
    .price_value{
        padding: 2px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 400;
        input{
            margin-left: 10px;
            min-width: 100px;
        }
    }
}